@charset "UTF-8";
/*

$grid-mini: 0,320;
$grid-small: 321,480;
$grid-smedium: 481,640;
$grid-medium: 641,800;
$grid-normal: 801,960;
$grid-big: 961,1024;
$grid-large: 1025,1280;
$grid-xlarge: 1281,1440;
$grid-xxlarge: 1441,9999;
*/
/* line 82, scss/_settings.scss */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 83, scss/_settings.scss */
hr.clear {
  clear: both;
  border: none;
  height: 0;
  margin: 0;
  padding: 0;
  background: none;
  color: none;
}

/* line 84, scss/_settings.scss */
a {
  outline: none;
  -moz-outline: none;
}

/*
@function color($value){
	$color: map-get($basic-colors, $value);
	@return $color;
}
*/
@font-face {
  font-family: "AvenirNext";
  src: url('../fonts/../fonts/Mikado-Bold.eot?1424167245');
  src: url('../fonts/../fonts/Mikado-Bold.eot?&1424167245#iefix') format('embedded-opentype'), url('../fonts/../fonts/Mikado-Bold.woff?1424167244') format('woff'), url('../fonts/../fonts/Mikado-Bold.ttf?1424167288') format('truetype'), url('../fonts/../fonts/Mikado-Bold.otf?1424167277') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url('../fonts/../fonts/Mikado-Regular.eot?1424167245');
  src: url('../fonts/../fonts/Mikado-Regular.eot?&1424167245#iefix') format('embedded-opentype'), url('../fonts/../fonts/Mikado-Regular.woff?1424167244') format('woff'), url('../fonts/../fonts/Mikado-Regular.ttf?1424167288') format('truetype'), url('../fonts/../fonts/Mikado-Regular.otf?1424167277') format('opentype');
  font-weight: normal;
  font-style: normal;
}
/* line 13, scss/_base.scss */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 14, scss/_base.scss */
body {
  font-size: 16px;
  font-family: "AvenirNext", sans-serif;
  font-weight: 400;
  -webkit-overflow-scrolling: touch;
}

/* line 10, scss/_grid.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 11, scss/_grid.scss */
audio, canvas, video {
  display: inline-block;
}

/* line 12, scss/_grid.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 13, scss/_grid.scss */
[hidden], template {
  display: none;
}

/* line 14, scss/_grid.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 15, scss/_grid.scss */
body {
  margin: 0;
}

/* line 16, scss/_grid.scss */
a {
  background: transparent;
  text-decoration: none;
}

/* line 17, scss/_grid.scss */
a:focus {
  outline: none;
}

/* line 18, scss/_grid.scss */
a:active, a:hover {
  outline: 0;
}

/* line 19, scss/_grid.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 20, scss/_grid.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 21, scss/_grid.scss */
b, strong {
  font-weight: bold;
}

/* line 22, scss/_grid.scss */
dfn {
  font-style: italic;
}

/* line 23, scss/_grid.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 24, scss/_grid.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 25, scss/_grid.scss */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 26, scss/_grid.scss */
pre {
  white-space: pre-wrap;
}

/* line 27, scss/_grid.scss */
q {
  quotes: "“" "”" "‘" "’";
}

/* line 28, scss/_grid.scss */
small {
  font-size: 80%;
}

/* line 29, scss/_grid.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 30, scss/_grid.scss */
sup {
  top: -0.5em;
}

/* line 31, scss/_grid.scss */
sub {
  bottom: -0.25em;
}

/* line 32, scss/_grid.scss */
img {
  border: 0;
}

/* line 33, scss/_grid.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 34, scss/_grid.scss */
figure {
  margin: 0;
}

/* line 35, scss/_grid.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 36, scss/_grid.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 37, scss/_grid.scss */
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 38, scss/_grid.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}

/* line 39, scss/_grid.scss */
button, input {
  line-height: normal;
}

/* line 40, scss/_grid.scss */
button, select {
  text-transform: none;
}

/* line 41, scss/_grid.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 42, scss/_grid.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 43, scss/_grid.scss */
input[type="checkbox"], input[type="radio"] {
  padding: 0;
}

/* line 44, scss/_grid.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 45, scss/_grid.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 46, scss/_grid.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 47, scss/_grid.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 48, scss/_grid.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 49, scss/_grid.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  vertical-align: top;
}

/* line 50, scss/_grid.scss */
*:before {
  content: "";
}

/* line 51, scss/_grid.scss */
.center {
  max-width: 80em;
  margin: 0 auto;
  position: relative;
}

/* line 53, scss/_grid.scss */
.clearfix, .clear {
  height: 0;
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 55, scss/_grid.scss */
.row, section, section#instagram #instafeed {
  font-size: 0;
  margin: auto;
  margin-bottom: 0px;
  text-align: center;
  max-width: 1080;
  max-width: 1080px;
}
/* line 57, scss/_grid.scss */
.row > div, section > div, section#instagram #instafeed > div {
  font-size: 1rem;
  padding: 0;
  display: inline-block;
  position: relative;
  text-align: left;
}
/* line 58, scss/_grid.scss */
.row > div.text-center, section > div.text-center, section#instagram #instafeed > div.text-center {
  text-align: center;
}
/* line 59, scss/_grid.scss */
.row > div.text-left, section > div.text-left, section#instagram #instafeed > div.text-left {
  text-align: left;
}
/* line 60, scss/_grid.scss */
.row > div.text-right, section > div.text-right, section#instagram #instafeed > div.text-right {
  text-align: right;
}
/* line 62, scss/_grid.scss */
.row.left, section.left, section#instagram .left#instafeed {
  text-align: left;
}
/* line 62, scss/_grid.scss */
.row.left div, section.left div, section#instagram .left#instafeed div {
  text-align: left;
}
/* line 63, scss/_grid.scss */
.row.right, section.right, section#instagram .right#instafeed {
  text-align: right;
}
/* line 63, scss/_grid.scss */
.row.right div, section.right div, section#instagram .right#instafeed div {
  text-align: left;
}
/* line 64, scss/_grid.scss */
.row.center, section.center, section#instagram .center#instafeed {
  text-align: center;
}
/* line 64, scss/_grid.scss */
.row.center div, section.center div, section#instagram .center#instafeed div {
  text-align: left;
}
/* line 65, scss/_grid.scss */
.row.text-center div, section.text-center div, section#instagram .text-center#instafeed div {
  text-align: center;
}
/* line 66, scss/_grid.scss */
.row.text-left div, section.text-left div, section#instagram .text-left#instafeed div {
  text-align: left;
}
/* line 67, scss/_grid.scss */
.row.text-right div, section.text-right div, section#instagram .text-right#instafeed div {
  text-align: right;
}
/* line 71, scss/_grid.scss */
.row.flex, section.flex, section#instagram .flex#instafeed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
/* line 74, scss/_grid.scss */
.row.align-left, section.align-left, section#instagram .align-left#instafeed {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}
/* line 75, scss/_grid.scss */
.row.align-right, section.align-right, section#instagram .align-right#instafeed {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
/* line 76, scss/_grid.scss */
.row.align-center, section.align-center, section#instagram .align-center#instafeed {
  -webkit-box-pack: flex-center;
  -ms-flex-pack: flex-center;
  -webkit-justify-content: flex-center;
  -moz-justify-content: flex-center;
  justify-content: flex-center;
}
/* line 77, scss/_grid.scss */
.row.align-justify, section.align-justify, section#instagram .align-justify#instafeed {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

/* line 83, scss/_grid.scss */
.no-mobile {
  display: block !important;
}
/* line 83, scss/_grid.scss */
.no-mobile.disable {
  display: none !important;
}

/* line 84, scss/_grid.scss */
.no-desktop {
  display: none !important;
}

/* line 85, scss/_grid.scss */
.mobile-only {
  display: none !important;
}

/* line 86, scss/_grid.scss */
.hide-mobile {
  display: block;
}

@media screen and (max-width: 640px) {
  /* line 89, scss/_grid.scss */
  .row, section, section#instagram #instafeed {
    margin: auto;
  }

  /* line 90, scss/_grid.scss */
  .no-mobile, .hide-mobile {
    display: none !important;
  }

  /* line 91, scss/_grid.scss */
  .no-desktop {
    display: block !important;
  }
  /* line 91, scss/_grid.scss */
  .no-desktop.disable {
    display: none !important;
  }
}
@media screen and (max-width: 480px) {
  /* line 94, scss/_grid.scss */
  .mobile-only {
    display: block;
  }
  /* line 94, scss/_grid.scss */
  .mobile-only.disable {
    display: none !important;
  }

  /* line 95, scss/_grid.scss */
  .desktop-only {
    display: none !important;
  }
}
/* line 98, scss/_grid.scss */
.disable {
  display: none !important;
}

@media screen and (min-width: 0px) {
  /* line 119, scss/_grid.scss */
  .mini-1 {
    width: 8.33333%;
  }

  /* line 120, scss/_grid.scss */
  .mini-push-1 {
    margin-left: 8.33333%;
  }

  /* line 119, scss/_grid.scss */
  .mini-2 {
    width: 16.66667%;
  }

  /* line 120, scss/_grid.scss */
  .mini-push-2 {
    margin-left: 16.66667%;
  }

  /* line 119, scss/_grid.scss */
  .mini-3 {
    width: 25%;
  }

  /* line 120, scss/_grid.scss */
  .mini-push-3 {
    margin-left: 25%;
  }

  /* line 119, scss/_grid.scss */
  .mini-4 {
    width: 33.33333%;
  }

  /* line 120, scss/_grid.scss */
  .mini-push-4 {
    margin-left: 33.33333%;
  }

  /* line 119, scss/_grid.scss */
  .mini-5 {
    width: 41.66667%;
  }

  /* line 120, scss/_grid.scss */
  .mini-push-5 {
    margin-left: 41.66667%;
  }

  /* line 119, scss/_grid.scss */
  .mini-6 {
    width: 50%;
  }

  /* line 120, scss/_grid.scss */
  .mini-push-6 {
    margin-left: 50%;
  }

  /* line 119, scss/_grid.scss */
  .mini-7 {
    width: 58.33333%;
  }

  /* line 120, scss/_grid.scss */
  .mini-push-7 {
    margin-left: 58.33333%;
  }

  /* line 119, scss/_grid.scss */
  .mini-8 {
    width: 66.66667%;
  }

  /* line 120, scss/_grid.scss */
  .mini-push-8 {
    margin-left: 66.66667%;
  }

  /* line 119, scss/_grid.scss */
  .mini-9 {
    width: 75%;
  }

  /* line 120, scss/_grid.scss */
  .mini-push-9 {
    margin-left: 75%;
  }

  /* line 119, scss/_grid.scss */
  .mini-10 {
    width: 83.33333%;
  }

  /* line 120, scss/_grid.scss */
  .mini-push-10 {
    margin-left: 83.33333%;
  }

  /* line 119, scss/_grid.scss */
  .mini-11 {
    width: 91.66667%;
  }

  /* line 120, scss/_grid.scss */
  .mini-push-11 {
    margin-left: 91.66667%;
  }

  /* line 119, scss/_grid.scss */
  .mini-12 {
    width: 100%;
  }

  /* line 120, scss/_grid.scss */
  .mini-push-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 321px) {
  /* line 119, scss/_grid.scss */
  .small-1 {
    width: 8.33333%;
  }

  /* line 120, scss/_grid.scss */
  .small-push-1 {
    margin-left: 8.33333%;
  }

  /* line 119, scss/_grid.scss */
  .small-2 {
    width: 16.66667%;
  }

  /* line 120, scss/_grid.scss */
  .small-push-2 {
    margin-left: 16.66667%;
  }

  /* line 119, scss/_grid.scss */
  .small-3 {
    width: 25%;
  }

  /* line 120, scss/_grid.scss */
  .small-push-3 {
    margin-left: 25%;
  }

  /* line 119, scss/_grid.scss */
  .small-4 {
    width: 33.33333%;
  }

  /* line 120, scss/_grid.scss */
  .small-push-4 {
    margin-left: 33.33333%;
  }

  /* line 119, scss/_grid.scss */
  .small-5 {
    width: 41.66667%;
  }

  /* line 120, scss/_grid.scss */
  .small-push-5 {
    margin-left: 41.66667%;
  }

  /* line 119, scss/_grid.scss */
  .small-6, section#instagram #instafeed a {
    width: 50%;
  }

  /* line 120, scss/_grid.scss */
  .small-push-6 {
    margin-left: 50%;
  }

  /* line 119, scss/_grid.scss */
  .small-7 {
    width: 58.33333%;
  }

  /* line 120, scss/_grid.scss */
  .small-push-7 {
    margin-left: 58.33333%;
  }

  /* line 119, scss/_grid.scss */
  .small-8 {
    width: 66.66667%;
  }

  /* line 120, scss/_grid.scss */
  .small-push-8 {
    margin-left: 66.66667%;
  }

  /* line 119, scss/_grid.scss */
  .small-9 {
    width: 75%;
  }

  /* line 120, scss/_grid.scss */
  .small-push-9 {
    margin-left: 75%;
  }

  /* line 119, scss/_grid.scss */
  .small-10 {
    width: 83.33333%;
  }

  /* line 120, scss/_grid.scss */
  .small-push-10 {
    margin-left: 83.33333%;
  }

  /* line 119, scss/_grid.scss */
  .small-11 {
    width: 91.66667%;
  }

  /* line 120, scss/_grid.scss */
  .small-push-11 {
    margin-left: 91.66667%;
  }

  /* line 119, scss/_grid.scss */
  .small-12 {
    width: 100%;
  }

  /* line 120, scss/_grid.scss */
  .small-push-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 481px) {
  /* line 119, scss/_grid.scss */
  .smedium-1 {
    width: 8.33333%;
  }

  /* line 120, scss/_grid.scss */
  .smedium-push-1 {
    margin-left: 8.33333%;
  }

  /* line 119, scss/_grid.scss */
  .smedium-2 {
    width: 16.66667%;
  }

  /* line 120, scss/_grid.scss */
  .smedium-push-2 {
    margin-left: 16.66667%;
  }

  /* line 119, scss/_grid.scss */
  .smedium-3, section#instagram #instafeed a {
    width: 25%;
  }

  /* line 120, scss/_grid.scss */
  .smedium-push-3 {
    margin-left: 25%;
  }

  /* line 119, scss/_grid.scss */
  .smedium-4 {
    width: 33.33333%;
  }

  /* line 120, scss/_grid.scss */
  .smedium-push-4 {
    margin-left: 33.33333%;
  }

  /* line 119, scss/_grid.scss */
  .smedium-5 {
    width: 41.66667%;
  }

  /* line 120, scss/_grid.scss */
  .smedium-push-5 {
    margin-left: 41.66667%;
  }

  /* line 119, scss/_grid.scss */
  .smedium-6 {
    width: 50%;
  }

  /* line 120, scss/_grid.scss */
  .smedium-push-6 {
    margin-left: 50%;
  }

  /* line 119, scss/_grid.scss */
  .smedium-7 {
    width: 58.33333%;
  }

  /* line 120, scss/_grid.scss */
  .smedium-push-7 {
    margin-left: 58.33333%;
  }

  /* line 119, scss/_grid.scss */
  .smedium-8 {
    width: 66.66667%;
  }

  /* line 120, scss/_grid.scss */
  .smedium-push-8 {
    margin-left: 66.66667%;
  }

  /* line 119, scss/_grid.scss */
  .smedium-9 {
    width: 75%;
  }

  /* line 120, scss/_grid.scss */
  .smedium-push-9 {
    margin-left: 75%;
  }

  /* line 119, scss/_grid.scss */
  .smedium-10 {
    width: 83.33333%;
  }

  /* line 120, scss/_grid.scss */
  .smedium-push-10 {
    margin-left: 83.33333%;
  }

  /* line 119, scss/_grid.scss */
  .smedium-11 {
    width: 91.66667%;
  }

  /* line 120, scss/_grid.scss */
  .smedium-push-11 {
    margin-left: 91.66667%;
  }

  /* line 119, scss/_grid.scss */
  .smedium-12 {
    width: 100%;
  }

  /* line 120, scss/_grid.scss */
  .smedium-push-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 641px) {
  /* line 119, scss/_grid.scss */
  .medium-1 {
    width: 8.33333%;
  }

  /* line 120, scss/_grid.scss */
  .medium-push-1 {
    margin-left: 8.33333%;
  }

  /* line 119, scss/_grid.scss */
  .medium-2 {
    width: 16.66667%;
  }

  /* line 120, scss/_grid.scss */
  .medium-push-2 {
    margin-left: 16.66667%;
  }

  /* line 119, scss/_grid.scss */
  .medium-3 {
    width: 25%;
  }

  /* line 120, scss/_grid.scss */
  .medium-push-3 {
    margin-left: 25%;
  }

  /* line 119, scss/_grid.scss */
  .medium-4 {
    width: 33.33333%;
  }

  /* line 120, scss/_grid.scss */
  .medium-push-4 {
    margin-left: 33.33333%;
  }

  /* line 119, scss/_grid.scss */
  .medium-5 {
    width: 41.66667%;
  }

  /* line 120, scss/_grid.scss */
  .medium-push-5 {
    margin-left: 41.66667%;
  }

  /* line 119, scss/_grid.scss */
  .medium-6 {
    width: 50%;
  }

  /* line 120, scss/_grid.scss */
  .medium-push-6 {
    margin-left: 50%;
  }

  /* line 119, scss/_grid.scss */
  .medium-7 {
    width: 58.33333%;
  }

  /* line 120, scss/_grid.scss */
  .medium-push-7 {
    margin-left: 58.33333%;
  }

  /* line 119, scss/_grid.scss */
  .medium-8 {
    width: 66.66667%;
  }

  /* line 120, scss/_grid.scss */
  .medium-push-8 {
    margin-left: 66.66667%;
  }

  /* line 119, scss/_grid.scss */
  .medium-9 {
    width: 75%;
  }

  /* line 120, scss/_grid.scss */
  .medium-push-9 {
    margin-left: 75%;
  }

  /* line 119, scss/_grid.scss */
  .medium-10 {
    width: 83.33333%;
  }

  /* line 120, scss/_grid.scss */
  .medium-push-10 {
    margin-left: 83.33333%;
  }

  /* line 119, scss/_grid.scss */
  .medium-11 {
    width: 91.66667%;
  }

  /* line 120, scss/_grid.scss */
  .medium-push-11 {
    margin-left: 91.66667%;
  }

  /* line 119, scss/_grid.scss */
  .medium-12 {
    width: 100%;
  }

  /* line 120, scss/_grid.scss */
  .medium-push-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 801px) {
  /* line 119, scss/_grid.scss */
  .normal-1 {
    width: 8.33333%;
  }

  /* line 120, scss/_grid.scss */
  .normal-push-1 {
    margin-left: 8.33333%;
  }

  /* line 119, scss/_grid.scss */
  .normal-2, section#instagram #instafeed a {
    width: 16.66667%;
  }

  /* line 120, scss/_grid.scss */
  .normal-push-2 {
    margin-left: 16.66667%;
  }

  /* line 119, scss/_grid.scss */
  .normal-3 {
    width: 25%;
  }

  /* line 120, scss/_grid.scss */
  .normal-push-3 {
    margin-left: 25%;
  }

  /* line 119, scss/_grid.scss */
  .normal-4 {
    width: 33.33333%;
  }

  /* line 120, scss/_grid.scss */
  .normal-push-4 {
    margin-left: 33.33333%;
  }

  /* line 119, scss/_grid.scss */
  .normal-5 {
    width: 41.66667%;
  }

  /* line 120, scss/_grid.scss */
  .normal-push-5 {
    margin-left: 41.66667%;
  }

  /* line 119, scss/_grid.scss */
  .normal-6 {
    width: 50%;
  }

  /* line 120, scss/_grid.scss */
  .normal-push-6 {
    margin-left: 50%;
  }

  /* line 119, scss/_grid.scss */
  .normal-7 {
    width: 58.33333%;
  }

  /* line 120, scss/_grid.scss */
  .normal-push-7 {
    margin-left: 58.33333%;
  }

  /* line 119, scss/_grid.scss */
  .normal-8 {
    width: 66.66667%;
  }

  /* line 120, scss/_grid.scss */
  .normal-push-8 {
    margin-left: 66.66667%;
  }

  /* line 119, scss/_grid.scss */
  .normal-9 {
    width: 75%;
  }

  /* line 120, scss/_grid.scss */
  .normal-push-9 {
    margin-left: 75%;
  }

  /* line 119, scss/_grid.scss */
  .normal-10 {
    width: 83.33333%;
  }

  /* line 120, scss/_grid.scss */
  .normal-push-10 {
    margin-left: 83.33333%;
  }

  /* line 119, scss/_grid.scss */
  .normal-11 {
    width: 91.66667%;
  }

  /* line 120, scss/_grid.scss */
  .normal-push-11 {
    margin-left: 91.66667%;
  }

  /* line 119, scss/_grid.scss */
  .normal-12 {
    width: 100%;
  }

  /* line 120, scss/_grid.scss */
  .normal-push-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 961px) {
  /* line 119, scss/_grid.scss */
  .big-1 {
    width: 8.33333%;
  }

  /* line 120, scss/_grid.scss */
  .big-push-1 {
    margin-left: 8.33333%;
  }

  /* line 119, scss/_grid.scss */
  .big-2 {
    width: 16.66667%;
  }

  /* line 120, scss/_grid.scss */
  .big-push-2 {
    margin-left: 16.66667%;
  }

  /* line 119, scss/_grid.scss */
  .big-3 {
    width: 25%;
  }

  /* line 120, scss/_grid.scss */
  .big-push-3 {
    margin-left: 25%;
  }

  /* line 119, scss/_grid.scss */
  .big-4 {
    width: 33.33333%;
  }

  /* line 120, scss/_grid.scss */
  .big-push-4 {
    margin-left: 33.33333%;
  }

  /* line 119, scss/_grid.scss */
  .big-5 {
    width: 41.66667%;
  }

  /* line 120, scss/_grid.scss */
  .big-push-5 {
    margin-left: 41.66667%;
  }

  /* line 119, scss/_grid.scss */
  .big-6 {
    width: 50%;
  }

  /* line 120, scss/_grid.scss */
  .big-push-6 {
    margin-left: 50%;
  }

  /* line 119, scss/_grid.scss */
  .big-7 {
    width: 58.33333%;
  }

  /* line 120, scss/_grid.scss */
  .big-push-7 {
    margin-left: 58.33333%;
  }

  /* line 119, scss/_grid.scss */
  .big-8 {
    width: 66.66667%;
  }

  /* line 120, scss/_grid.scss */
  .big-push-8 {
    margin-left: 66.66667%;
  }

  /* line 119, scss/_grid.scss */
  .big-9 {
    width: 75%;
  }

  /* line 120, scss/_grid.scss */
  .big-push-9 {
    margin-left: 75%;
  }

  /* line 119, scss/_grid.scss */
  .big-10 {
    width: 83.33333%;
  }

  /* line 120, scss/_grid.scss */
  .big-push-10 {
    margin-left: 83.33333%;
  }

  /* line 119, scss/_grid.scss */
  .big-11 {
    width: 91.66667%;
  }

  /* line 120, scss/_grid.scss */
  .big-push-11 {
    margin-left: 91.66667%;
  }

  /* line 119, scss/_grid.scss */
  .big-12 {
    width: 100%;
  }

  /* line 120, scss/_grid.scss */
  .big-push-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1025px) {
  /* line 119, scss/_grid.scss */
  .large-1 {
    width: 8.33333%;
  }

  /* line 120, scss/_grid.scss */
  .large-push-1 {
    margin-left: 8.33333%;
  }

  /* line 119, scss/_grid.scss */
  .large-2 {
    width: 16.66667%;
  }

  /* line 120, scss/_grid.scss */
  .large-push-2 {
    margin-left: 16.66667%;
  }

  /* line 119, scss/_grid.scss */
  .large-3 {
    width: 25%;
  }

  /* line 120, scss/_grid.scss */
  .large-push-3 {
    margin-left: 25%;
  }

  /* line 119, scss/_grid.scss */
  .large-4 {
    width: 33.33333%;
  }

  /* line 120, scss/_grid.scss */
  .large-push-4 {
    margin-left: 33.33333%;
  }

  /* line 119, scss/_grid.scss */
  .large-5 {
    width: 41.66667%;
  }

  /* line 120, scss/_grid.scss */
  .large-push-5 {
    margin-left: 41.66667%;
  }

  /* line 119, scss/_grid.scss */
  .large-6 {
    width: 50%;
  }

  /* line 120, scss/_grid.scss */
  .large-push-6 {
    margin-left: 50%;
  }

  /* line 119, scss/_grid.scss */
  .large-7 {
    width: 58.33333%;
  }

  /* line 120, scss/_grid.scss */
  .large-push-7 {
    margin-left: 58.33333%;
  }

  /* line 119, scss/_grid.scss */
  .large-8 {
    width: 66.66667%;
  }

  /* line 120, scss/_grid.scss */
  .large-push-8 {
    margin-left: 66.66667%;
  }

  /* line 119, scss/_grid.scss */
  .large-9 {
    width: 75%;
  }

  /* line 120, scss/_grid.scss */
  .large-push-9 {
    margin-left: 75%;
  }

  /* line 119, scss/_grid.scss */
  .large-10 {
    width: 83.33333%;
  }

  /* line 120, scss/_grid.scss */
  .large-push-10 {
    margin-left: 83.33333%;
  }

  /* line 119, scss/_grid.scss */
  .large-11 {
    width: 91.66667%;
  }

  /* line 120, scss/_grid.scss */
  .large-push-11 {
    margin-left: 91.66667%;
  }

  /* line 119, scss/_grid.scss */
  .large-12 {
    width: 100%;
  }

  /* line 120, scss/_grid.scss */
  .large-push-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1281px) {
  /* line 119, scss/_grid.scss */
  .xlarge-1 {
    width: 8.33333%;
  }

  /* line 120, scss/_grid.scss */
  .xlarge-push-1 {
    margin-left: 8.33333%;
  }

  /* line 119, scss/_grid.scss */
  .xlarge-2 {
    width: 16.66667%;
  }

  /* line 120, scss/_grid.scss */
  .xlarge-push-2 {
    margin-left: 16.66667%;
  }

  /* line 119, scss/_grid.scss */
  .xlarge-3 {
    width: 25%;
  }

  /* line 120, scss/_grid.scss */
  .xlarge-push-3 {
    margin-left: 25%;
  }

  /* line 119, scss/_grid.scss */
  .xlarge-4 {
    width: 33.33333%;
  }

  /* line 120, scss/_grid.scss */
  .xlarge-push-4 {
    margin-left: 33.33333%;
  }

  /* line 119, scss/_grid.scss */
  .xlarge-5 {
    width: 41.66667%;
  }

  /* line 120, scss/_grid.scss */
  .xlarge-push-5 {
    margin-left: 41.66667%;
  }

  /* line 119, scss/_grid.scss */
  .xlarge-6 {
    width: 50%;
  }

  /* line 120, scss/_grid.scss */
  .xlarge-push-6 {
    margin-left: 50%;
  }

  /* line 119, scss/_grid.scss */
  .xlarge-7 {
    width: 58.33333%;
  }

  /* line 120, scss/_grid.scss */
  .xlarge-push-7 {
    margin-left: 58.33333%;
  }

  /* line 119, scss/_grid.scss */
  .xlarge-8 {
    width: 66.66667%;
  }

  /* line 120, scss/_grid.scss */
  .xlarge-push-8 {
    margin-left: 66.66667%;
  }

  /* line 119, scss/_grid.scss */
  .xlarge-9 {
    width: 75%;
  }

  /* line 120, scss/_grid.scss */
  .xlarge-push-9 {
    margin-left: 75%;
  }

  /* line 119, scss/_grid.scss */
  .xlarge-10 {
    width: 83.33333%;
  }

  /* line 120, scss/_grid.scss */
  .xlarge-push-10 {
    margin-left: 83.33333%;
  }

  /* line 119, scss/_grid.scss */
  .xlarge-11 {
    width: 91.66667%;
  }

  /* line 120, scss/_grid.scss */
  .xlarge-push-11 {
    margin-left: 91.66667%;
  }

  /* line 119, scss/_grid.scss */
  .xlarge-12 {
    width: 100%;
  }

  /* line 120, scss/_grid.scss */
  .xlarge-push-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1441px) {
  /* line 119, scss/_grid.scss */
  .xxlarge-1 {
    width: 8.33333%;
  }

  /* line 120, scss/_grid.scss */
  .xxlarge-push-1 {
    margin-left: 8.33333%;
  }

  /* line 119, scss/_grid.scss */
  .xxlarge-2 {
    width: 16.66667%;
  }

  /* line 120, scss/_grid.scss */
  .xxlarge-push-2 {
    margin-left: 16.66667%;
  }

  /* line 119, scss/_grid.scss */
  .xxlarge-3 {
    width: 25%;
  }

  /* line 120, scss/_grid.scss */
  .xxlarge-push-3 {
    margin-left: 25%;
  }

  /* line 119, scss/_grid.scss */
  .xxlarge-4 {
    width: 33.33333%;
  }

  /* line 120, scss/_grid.scss */
  .xxlarge-push-4 {
    margin-left: 33.33333%;
  }

  /* line 119, scss/_grid.scss */
  .xxlarge-5 {
    width: 41.66667%;
  }

  /* line 120, scss/_grid.scss */
  .xxlarge-push-5 {
    margin-left: 41.66667%;
  }

  /* line 119, scss/_grid.scss */
  .xxlarge-6 {
    width: 50%;
  }

  /* line 120, scss/_grid.scss */
  .xxlarge-push-6 {
    margin-left: 50%;
  }

  /* line 119, scss/_grid.scss */
  .xxlarge-7 {
    width: 58.33333%;
  }

  /* line 120, scss/_grid.scss */
  .xxlarge-push-7 {
    margin-left: 58.33333%;
  }

  /* line 119, scss/_grid.scss */
  .xxlarge-8 {
    width: 66.66667%;
  }

  /* line 120, scss/_grid.scss */
  .xxlarge-push-8 {
    margin-left: 66.66667%;
  }

  /* line 119, scss/_grid.scss */
  .xxlarge-9 {
    width: 75%;
  }

  /* line 120, scss/_grid.scss */
  .xxlarge-push-9 {
    margin-left: 75%;
  }

  /* line 119, scss/_grid.scss */
  .xxlarge-10 {
    width: 83.33333%;
  }

  /* line 120, scss/_grid.scss */
  .xxlarge-push-10 {
    margin-left: 83.33333%;
  }

  /* line 119, scss/_grid.scss */
  .xxlarge-11 {
    width: 91.66667%;
  }

  /* line 120, scss/_grid.scss */
  .xxlarge-push-11 {
    margin-left: 91.66667%;
  }

  /* line 119, scss/_grid.scss */
  .xxlarge-12 {
    width: 100%;
  }

  /* line 120, scss/_grid.scss */
  .xxlarge-push-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1601px) {
  /* line 119, scss/_grid.scss */
  .xxxlarge-1 {
    width: 8.33333%;
  }

  /* line 120, scss/_grid.scss */
  .xxxlarge-push-1 {
    margin-left: 8.33333%;
  }

  /* line 119, scss/_grid.scss */
  .xxxlarge-2 {
    width: 16.66667%;
  }

  /* line 120, scss/_grid.scss */
  .xxxlarge-push-2 {
    margin-left: 16.66667%;
  }

  /* line 119, scss/_grid.scss */
  .xxxlarge-3 {
    width: 25%;
  }

  /* line 120, scss/_grid.scss */
  .xxxlarge-push-3 {
    margin-left: 25%;
  }

  /* line 119, scss/_grid.scss */
  .xxxlarge-4 {
    width: 33.33333%;
  }

  /* line 120, scss/_grid.scss */
  .xxxlarge-push-4 {
    margin-left: 33.33333%;
  }

  /* line 119, scss/_grid.scss */
  .xxxlarge-5 {
    width: 41.66667%;
  }

  /* line 120, scss/_grid.scss */
  .xxxlarge-push-5 {
    margin-left: 41.66667%;
  }

  /* line 119, scss/_grid.scss */
  .xxxlarge-6 {
    width: 50%;
  }

  /* line 120, scss/_grid.scss */
  .xxxlarge-push-6 {
    margin-left: 50%;
  }

  /* line 119, scss/_grid.scss */
  .xxxlarge-7 {
    width: 58.33333%;
  }

  /* line 120, scss/_grid.scss */
  .xxxlarge-push-7 {
    margin-left: 58.33333%;
  }

  /* line 119, scss/_grid.scss */
  .xxxlarge-8 {
    width: 66.66667%;
  }

  /* line 120, scss/_grid.scss */
  .xxxlarge-push-8 {
    margin-left: 66.66667%;
  }

  /* line 119, scss/_grid.scss */
  .xxxlarge-9 {
    width: 75%;
  }

  /* line 120, scss/_grid.scss */
  .xxxlarge-push-9 {
    margin-left: 75%;
  }

  /* line 119, scss/_grid.scss */
  .xxxlarge-10 {
    width: 83.33333%;
  }

  /* line 120, scss/_grid.scss */
  .xxxlarge-push-10 {
    margin-left: 83.33333%;
  }

  /* line 119, scss/_grid.scss */
  .xxxlarge-11 {
    width: 91.66667%;
  }

  /* line 120, scss/_grid.scss */
  .xxxlarge-push-11 {
    margin-left: 91.66667%;
  }

  /* line 119, scss/_grid.scss */
  .xxxlarge-12 {
    width: 100%;
  }

  /* line 120, scss/_grid.scss */
  .xxxlarge-push-12 {
    margin-left: 100%;
  }
}
/* line 137, scss/_grid.scss */
.tabs > ul, .tabs > ul li {
  margin: 0;
  padding: 0;
}
/* line 138, scss/_grid.scss */
.tabs .tab-style, .tabs > ul > li, .tabs > span dt {
  display: inline-block;
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
  margin-right: 0px;
  background: white;
  color: black;
  cursor: pointer;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 142, scss/_grid.scss */
.tabs > ul {
  font-size: 0;
}
/* line 145, scss/_grid.scss */
.tabs > span {
  font-size: 0;
  display: inline-block;
}
/* line 148, scss/_grid.scss */
.tabs > div, .tabs > dd {
  margin: 0;
  padding: 0;
  display: none;
  -moz-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}
/* line 149, scss/_grid.scss */
.tabs > div.selected, .tabs > dd.selected {
  display: block;
  -moz-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}

/* line 154, scss/_grid.scss */
.accordion {
  padding: 0;
  margin: 0;
}
/* line 155, scss/_grid.scss */
.accordion > li, .accordion > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 156, scss/_grid.scss */
.accordion > li {
  padding: 10px 0px;
  font-weight: bold;
}
/* line 157, scss/_grid.scss */
.accordion > li > ul > li {
  padding: 10px 0;
  font-weight: normal;
}
/* line 158, scss/_grid.scss */
.accordion > li {
  cursor: pointer;
}
/* line 159, scss/_grid.scss */
.accordion > li:before {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border-bottom: 3px solid #ccc;
  border-right: 3px solid #ccc;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-right: 10px;
  position: relative;
  -moz-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}
/* line 160, scss/_grid.scss */
.accordion > li > ul {
  display: none;
  cursor: default;
  height: 0px;
}
/* line 162, scss/_grid.scss */
.accordion > li.selected:before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 163, scss/_grid.scss */
.accordion > li.selected > ul {
  display: block;
  height: auto;
}

/* line 172, scss/_grid.scss */
#popup {
  position: fixed;
  top: 0;
  z-index: 1000;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
/* line 173, scss/_grid.scss */
#popup .popup-background {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 174, scss/_grid.scss */
#popup .popup-content {
  border: 0px solid white;
  position: relative;
  -moz-box-shadow: -3px 3px 0px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -3px 3px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 3px 0px 0px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}
/* line 175, scss/_grid.scss */
#popup .popup-content img {
  max-width: 100%;
}
/* line 176, scss/_grid.scss */
#popup .popup-content .popup-close {
  background: #fff;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 177, scss/_grid.scss */
#popup .popup-content .popup-close:before, #popup .popup-content .popup-close:after {
  content: "";
  display: block;
  height: 1rem;
  width: 3px;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25% 0 0 -5%;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
/* line 178, scss/_grid.scss */
#popup .popup-content .popup-close:before {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 179, scss/_grid.scss */
#popup .popup-content .popup-close:after {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 180, scss/_grid.scss */
#popup .popup-content .popup-close:hover {
  background: black;
  color: #fff;
}
/* line 181, scss/_grid.scss */
#popup .popup-content .popup-close:hover:before, #popup .popup-content .popup-close:hover:after {
  background: #fff;
}
/* line 184, scss/_grid.scss */
#popup .popup-content .popup-nav {
  width: -moz-calc(100% + 4rem);
  width: -webkit-calc(100% + 4rem);
  width: calc(100% + 4rem);
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  margin-left: -2rem;
  z-index: 2000;
}
/* line 185, scss/_grid.scss */
#popup .popup-content .popup-nav a {
  width: 33%;
  display: block;
  position: absolute;
  top: 0px;
  height: 100%;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 186, scss/_grid.scss */
#popup .popup-content .popup-nav a span {
  display: block;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -1rem;
  opacity: 0.2;
  -moz-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}
/* line 187, scss/_grid.scss */
#popup .popup-content .popup-nav a span:before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  border-top: 3px solid white;
  border-left: 3px solid white;
  left: 33%;
  top: 33%;
  position: absolute;
}
/* line 187, scss/_grid.scss */
#popup .popup-content .popup-nav a span:hover {
  background: black;
  -moz-transition: 0;
  -o-transition: 0;
  -webkit-transition: 0;
  transition: 0;
}
/* line 188, scss/_grid.scss */
#popup .popup-content .popup-nav a span:hover:before {
  border-color: white;
}
/* line 191, scss/_grid.scss */
#popup .popup-content .popup-nav a.popup-prev {
  left: 0px;
}
/* line 192, scss/_grid.scss */
#popup .popup-content .popup-nav a.popup-prev:hover {
  left: -3px;
}
/* line 193, scss/_grid.scss */
#popup .popup-content .popup-nav a.popup-prev span {
  left: 0px;
}
/* line 194, scss/_grid.scss */
#popup .popup-content .popup-nav a.popup-prev span:before {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 197, scss/_grid.scss */
#popup .popup-content .popup-nav a.popup-next {
  right: 0px;
}
/* line 198, scss/_grid.scss */
#popup .popup-content .popup-nav a.popup-next:hover {
  right: -3px;
}
/* line 199, scss/_grid.scss */
#popup .popup-content .popup-nav a.popup-next span {
  right: 0px;
}
/* line 200, scss/_grid.scss */
#popup .popup-content .popup-nav a.popup-next span:before {
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  left: 25%;
}
/* line 203, scss/_grid.scss */
#popup .popup-content .popup-nav a:hover span {
  opacity: 1;
  -moz-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}
/* line 206, scss/_grid.scss */
#popup .popup-content .popup-title {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0.5rem;
  margin-top: 0px;
  margin-left: 0px;
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 207, scss/_grid.scss */
#popup .popup-content .popup-alt {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0.5rem;
  margin-right: 0px;
  margin-bottom: 0px;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 209, scss/_grid.scss */
#popup .popup-content.width100 {
  border-left: none;
  border-right: none;
  border: none;
}
/* line 210, scss/_grid.scss */
#popup .popup-content.width100 .popup-close {
  right: -0.5rem;
  z-index: 2000;
}
/* line 211, scss/_grid.scss */
#popup .popup-content.width100 .popup-nav {
  width: 100%;
  margin-left: 0;
}
/* line 212, scss/_grid.scss */
#popup .popup-content.width100 .popup-nav a span {
  background: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 212, scss/_grid.scss */
#popup .popup-content.width100 .popup-nav a span:before {
  border-color: white;
}
/* line 214, scss/_grid.scss */
#popup .popup-content.width100 .popup-title {
  position: relative;
  bottom: 100%;
}
/* line 215, scss/_grid.scss */
#popup .popup-content.width100 .popup-alt {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 100%;
}

/* line 224, scss/_grid.scss */
.row > div, section > div, section#instagram #instafeed > div {
  position: relative;
}
/* line 224, scss/_grid.scss */
.row > div a img, section > div a img, section#instagram #instafeed > div a img {
  width: 100%;
  max-width: 100%;
}

@font-face {
  font-family: "AvenirNext";
  src: url('../fonts/../fonts/Mikado-Bold.eot?1424167245');
  src: url('../fonts/../fonts/Mikado-Bold.eot?&1424167245#iefix') format('embedded-opentype'), url('../fonts/../fonts/Mikado-Bold.woff?1424167244') format('woff'), url('../fonts/../fonts/Mikado-Bold.ttf?1424167288') format('truetype'), url('../fonts/../fonts/Mikado-Bold.otf?1424167277') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url('../fonts/../fonts/Mikado-Regular.eot?1424167245');
  src: url('../fonts/../fonts/Mikado-Regular.eot?&1424167245#iefix') format('embedded-opentype'), url('../fonts/../fonts/Mikado-Regular.woff?1424167244') format('woff'), url('../fonts/../fonts/Mikado-Regular.ttf?1424167288') format('truetype'), url('../fonts/../fonts/Mikado-Regular.otf?1424167277') format('opentype');
  font-weight: normal;
  font-style: normal;
}
/* line 13, scss/_base.scss */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 14, scss/_base.scss */
body {
  font-size: 16px;
  font-family: "AvenirNext", sans-serif;
  font-weight: 400;
  -webkit-overflow-scrolling: touch;
}

/* line 27, scss/app.scss */
body {
  background: #f7f5f0;
  color: #28200d;
  font-family: "AvenirNext", sans-serif;
}

/* line 29, scss/app.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* line 30, scss/app.scss */
h1 {
  font-family: "AvenirNext";
}

/* line 31, scss/app.scss */
a {
  color: inherit;
}

/* line 32, scss/app.scss */
p {
  font-size: 1rem;
  line-height: 1.6rem;
}

/* line 33, scss/app.scss */
.icon:before, header a.search:before, .footer-column ul li a.icon:before {
  display: inline-block;
  font-family: "yeva";
}

/* line 35, scss/app.scss */
.button {
  display: inline-block;
  padding: 0 20px;
  font-weight: 700;
  height: 40px;
  background: transparent;
  line-height: 40px;
  font-size: 0.75rem;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}
/* line 36, scss/app.scss */
.button.white {
  border: 2px solid #ffffff;
  color: #ffffff;
}
/* line 37, scss/app.scss */
.button.brown {
  border: 2px solid #3d372a;
  color: #3d372a;
}
/* line 39, scss/app.scss */
.button:before {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: -110%;
  background: #28200d;
  text-align: center;
  left: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 2px solid white;
}
/* line 41, scss/app.scss */
.button:hover:before {
  left: 0px;
  top: 0px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* layout */
/* line 47, scss/app.scss */
header {
  height: 40px;
}
/* line 49, scss/app.scss */
header h1 {
  text-transform: uppercase;
  height: 100%;
  line-height: 40px;
  font-size: 1.25rem;
  color: #ef8322;
}
/* line 50, scss/app.scss */
.mobile header h1 {
  padding-left: 10px;
}
/* line 52, scss/app.scss */
header a.search {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  position: relative;
  text-indent: -999em;
}
/* line 53, scss/app.scss */
header a.search:before {
  content: "a";
  font-size: 1.5rem;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
  line-height: 40px;
  text-align: center;
  text-indent: 0px;
}
/* line 54, scss/app.scss */
header a.search:hover:before {
  font-size: 1.75rem;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 56, scss/app.scss */
header.stick {
  position: fixed;
  top: 0px;
  background: white;
  width: 100%;
  z-index: 1000;
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

/* line 59, scss/app.scss */
section {
  position: relative;
}
/* line 60, scss/app.scss */
section > .row, section > section, section#instagram section > #instafeed {
  background: #ffffff;
}
/* line 61, scss/app.scss */
section#header {
  height: 420px;
}
/* line 62, scss/app.scss */
section#header .slider {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* line 63, scss/app.scss */
section#header .slider .slick-list, section#header .slider .slick-track {
  height: 100%;
}
/* line 64, scss/app.scss */
section#header .slider .slide {
  width: 100%;
  height: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 65, scss/app.scss */
section#header .slider .slide h2 {
  color: white;
  margin-top: 40px;
  width: 100%;
  padding-right: 20px;
  font-size: 3rem;
  font-family: "Mikado";
  line-height: 90%;
}
/* line 66, scss/app.scss */
section#header .slider .slide a.button {
  margin-top: 20px;
}
/* line 69, scss/app.scss */
.mobile section#header {
  display: none;
}
/* line 73, scss/app.scss */
section#articles article {
  width: 100%;
  display: block;
  clear: both;
  border-bottom: 2px solid #f7f5f0;
  padding: 20px;
}
/* line 74, scss/app.scss */
section#articles article div.image {
  padding: 15px 0;
}
/* line 75, scss/app.scss */
section#articles article a.image {
  display: inline-block;
  width: 100%;
  height: 120px;
  margin: 0;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 76, scss/app.scss */
section#articles article h3, section#articles article p {
  display: inline-block;
}
/* line 77, scss/app.scss */
section#articles article h3 {
  font-family: "Mikado";
  font-size: 1.5rem;
}
/* line 79, scss/app.scss */
section#articles article p a {
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(40, 32, 13, 0.25);
  font-size: 0.75rem;
  position: relative;
  top: 2px;
}
/* line 80, scss/app.scss */
section#articles article p a:hover {
  color: rgba(40, 32, 13, 0.5);
}
/* line 83, scss/app.scss */
section#articles article div.content {
  padding: 15px;
}
/* line 85, scss/app.scss */
.mobile section#articles article {
  padding: 0px;
  content: "articletest";
}
/* line 87, scss/app.scss */
.mobile section#articles article div.image {
  padding: 0;
  border-top: 1px solid white;
}
/* line 88, scss/app.scss */
.mobile section#articles article a.image {
  height: 240px;
}
/* line 93, scss/app.scss */
section#articles .profile {
  padding: 35px 20px 20px 20px;
  position: relative;
  border-left: 2px solid #f7f5f0;
}
/* line 94, scss/app.scss */
section#articles .profile a.profile-image {
  display: block;
  border: 3px solid #f7f5f0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  position: absolute;
  left: -2px;
  top: 20px;
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
/* line 95, scss/app.scss */
section#articles .profile a.profile-image img {
  min-height: 100%;
  min-width: 100%;
}
/* line 97, scss/app.scss */
section#articles .profile h2 {
  font-family: "Mikado";
  font-size: 1.5rem;
  padding-left: 35px;
}
/* line 99, scss/app.scss */
section#articles .profile a.yeva {
  display: block;
  width: 100%;
  height: 60px;
  background-image: url("../img/yeva-black.svg");
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -999em;
  opacity: 0.5;
}
/* line 100, scss/app.scss */
section#articles .profile a.yeva:hover {
  opacity: 0.8;
}
/* line 105, scss/app.scss */
.mobile section#articles .profile a.profile-image {
  -moz-transform: none;
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
  position: relative;
  display: inline-block;
  top: 0px;
}
/* line 106, scss/app.scss */
.mobile section#articles .profile h2 {
  position: relative;
  padding-left: 120px;
  top: -100px;
  height: 100px;
  line-height: 100px;
  margin-bottom: -100px;
}
/* line 113, scss/app.scss */
section#instagram {
  min-height: 500px;
  background: #f51821;
}
/* line 115, scss/app.scss */
section#instagram #instafeed a {
  display: inline-block;
}
/* line 116, scss/app.scss */
section#instagram #instafeed a img {
  max-width: 100%;
}
/* line 121, scss/app.scss */
section#content {
  /* 	main	 */
  /* 		footer/side */
}
/* line 123, scss/app.scss */
section#content .main-column {
  padding: 0 40px;
}
/* line 124, scss/app.scss */
.mobile section#content .main-column {
  padding: 0 20px;
}
/* line 125, scss/app.scss */
section#content .main-column .image.full {
  margin: 30px -40px;
  width: -moz-calc(100% + 80px);
  width: -webkit-calc(100% + 80px);
  width: calc(100% + 80px);
  display: block;
  overflow: hidden;
}
/* line 126, scss/app.scss */
.mobile section#content .main-column .image.full {
  margin: 30px -20px;
  width: -moz-calc(100% + 40px);
  width: -webkit-calc(100% + 40px);
  width: calc(100% + 40px);
}
/* line 127, scss/app.scss */
section#content .main-column .image.full.header-image {
  margin-top: 0px;
}
/* line 128, scss/app.scss */
section#content .main-column .image.full img {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 129, scss/app.scss */
section#content .main-column .image.full:hover img {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 131, scss/app.scss */
section#content .main-column div.head {
  text-align: center;
  margin-bottom: 20px;
}
/* line 132, scss/app.scss */
section#content .main-column div.head h2 {
  font-family: "Mikado", serif;
  font-weight: 100;
  font-size: 2.25rem;
}
/* line 133, scss/app.scss */
section#content .main-column div.head span.date {
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(40, 32, 13, 0.25);
  font-size: 0.875rem;
}
/* line 135, scss/app.scss */
section#content .main-column p {
  line-height: 1.5rem;
}

/* line 143, scss/app.scss */
footer {
  background: #28200d;
  padding: 20px;
  color: rgba(247, 245, 240, 0.5);
  font-size: 0.75rem;
}

@media screen and (min-width: 320) and (max-width: 1440) {
  /* line 151, scss/app.scss */
  body {
    background: orange !important;
  }
}
/* line 156, scss/app.scss */
.footer-column .search {
  background: #28200d;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0px;
  margin-bottom: 10px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 157, scss/app.scss */
.footer-column .search.active {
  height: 40px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 158, scss/app.scss */
.footer-column .search input[type=text] {
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: absolute;
  width: 100%;
  height: 40px;
  text-align: center;
  background: none;
  color: white;
  padding: 0 10px;
}
/* line 159, scss/app.scss */
.mobile .footer-column .search input[type=text] {
  position: absolute;
  top: 50%;
  width: 80%;
  margin-left: 10%;
  height: 80px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0 30px;
  font-size: 2rem;
}
/* line 161, scss/app.scss */
.footer-column .search input[type=submit] {
  display: none;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -moz-calc(50% + 40px);
  top: -webkit-calc(50% + 40px);
  top: calc(50% + 40px);
  left: 50%;
  margin-left: -50px;
  border: none;
  background: none;
  color: white;
  font-family: "yeva";
  font-size: 3rem;
}
/* line 162, scss/app.scss */
.mobile .footer-column .search input[type=submit] {
  display: block;
}
/* line 428, scss/_mixins.scss */
.mobile .footer-column {
  background: rgba(40, 32, 13, 0.85);
  content: "test";
}
/* line 165, scss/app.scss */
.mobile .footer-column .search {
  height: 100%;
  display: none;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0px;
}
/* line 166, scss/app.scss */
.mobile .footer-column .search.active {
  position: fixed;
  display: block;
  top: 0px;
  background: rgba(40, 32, 13, 0.75);
  width: 100vw;
  height: 100vh;
}
/* line 170, scss/app.scss */
.footer-column ul {
  padding: 15px 20px 15px 20px;
}
/* line 172, scss/app.scss */
.footer-column ul li.top {
  font-size: 0.75rem;
  font-weight: 700;
  color: rgba(40, 32, 13, 0.25);
  text-transform: uppercase;
}
/* line 173, scss/app.scss */
.footer-column ul li a {
  line-height: 2rem;
  display: inline-block;
  position: relative;
}
/* line 174, scss/app.scss */
.footer-column ul li a:after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 5px;
  background: rgba(40, 32, 13, 0.25);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 175, scss/app.scss */
.footer-column ul li a:hover:after {
  width: 100%;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 176, scss/app.scss */
.footer-column ul li header a.search:before, header .footer-column ul li a.search:before, .footer-column ul li a.icon:before {
  margin-right: 3px;
  color: rgba(40, 32, 13, 0.25);
  position: relative;
  top: 2px;
}
/* line 177, scss/app.scss */
.footer-column ul li header a.fb.search:before, header .footer-column ul li a.fb.search:before, .footer-column ul li a.fb.icon:before {
  content: "q";
}
/* line 178, scss/app.scss */
.footer-column ul li header a.tw.search:before, header .footer-column ul li a.tw.search:before, .footer-column ul li a.tw.icon:before {
  content: "g";
}
/* line 179, scss/app.scss */
.footer-column ul li header a.tu.search:before, header .footer-column ul li a.tu.search:before, .footer-column ul li a.tu.icon:before {
  content: "i";
}
/* line 180, scss/app.scss */
.footer-column ul li header a.in.search:before, header .footer-column ul li a.in.search:before, .footer-column ul li a.in.icon:before {
  content: "e";
}
/* line 181, scss/app.scss */
.footer-column ul li header a.vk.search:before, header .footer-column ul li a.vk.search:before, .footer-column ul li a.vk.icon:before {
  content: "m";
}
/* line 182, scss/app.scss */
.footer-column ul li header a.yt.search:before, header .footer-column ul li a.yt.search:before, .footer-column ul li a.yt.icon:before {
  content: "o";
}
/* line 183, scss/app.scss */
.footer-column ul li header a.pi.search:before, header .footer-column ul li a.pi.search:before, .footer-column ul li a.pi.icon:before {
  content: "c";
}
/* line 189, scss/app.scss */
.mobile li a, .mobile.home .footer-column li a {
  color: white;
}
/* line 190, scss/app.scss */
.mobile li a:after, .mobile.home .footer-column li a:after {
  background: rgba(255, 255, 255, 0.2);
}

/* Slider */
/* line 200, scss/app.scss */
.slick-slider {
  position: relative;
  display: block;
}

/* line 201, scss/app.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 202, scss/app.scss */
.slick-list:focus {
  outline: none;
}
/* line 203, scss/app.scss */
.slick-loading .slick-list {
  background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
}
/* line 204, scss/app.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 206, scss/app.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 209, scss/app.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
/* line 210, scss/app.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
/* line 211, scss/app.scss */
.slick-track:after {
  clear: both;
}
/* line 212, scss/app.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 214, scss/app.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
/* line 216, scss/app.scss */
[dir="rtl"] .slick-slide {
  float: right;
}
/* line 217, scss/app.scss */
.slick-slide img {
  display: block;
}
/* line 218, scss/app.scss */
.slick-slide.slick-loading img {
  display: none;
}
/* line 220, scss/app.scss */
.slick-slide.dragging img {
  pointer-events: none;
}
/* line 221, scss/app.scss */
.slick-initialized .slick-slide {
  display: block;
}
/* line 222, scss/app.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}
/* line 223, scss/app.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* Dots */
/* line 228, scss/app.scss */
.slick-dots {
  position: absolute;
  list-style: none;
  bottom: 0px;
  display: block;
  text-align: left;
  width: 100%;
  padding: 20px;
}
/* line 229, scss/app.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 8px;
  width: 8px;
  margin: 0 5px;
  cursor: pointer;
  padding: 0;
}
/* line 230, scss/app.scss */
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 100%;
  width: 100%;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: #3d372a;
}
/* line 231, scss/app.scss */
.slick-dots li button:hover, .slick-dots li button:focus {
  opacity: .5;
}
/* line 233, scss/app.scss */
.slick-dots li.slick-active button {
  background: #f7f5f0;
}
